body {
    margin: 0;
}

.container {
    margin: 0 10%;
}

.navbar {
    display: flex;
    align-items: center;

    &.navbar-bg {
        &-white {
            background-color: white;
        }
    }

    .navbar-logo {
        width: 8rem;
    }
}